[buildout]
extends = https://dist.plone.org/release/6.1-latest/versions.cfg

find-links =
    https://dist.plone.org/release/6.1-latest/

allow-hosts =
    dist.plone.org
    *.zope.org
    pypi.org
    files.pythonhosted.org

parts = instance test

develop = .

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs = Plone
       plone.htmx
zcml = plone.htmx-testing

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
       plone.app.testing
       plone.testing

[versions]
zc.buildout =
setuptools =
pip =
wheel =
