[buildout]
extends = https://dist.plone.org/release/6.1/versions.cfg

parts = instance

develop = .

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
eggs = Plone
       plone.htmx

[versions]
zc.buildout =
setuptools =
pip =
wheel =
